.body{
    width: 500px;
    height: 80px;
}

.left {
   position: relative;
   left:-110px;
   bottom: 10px;
}

.right {
   position: relative;
   right: -140px;
   top: 15px;
}

.title {
    width: 250px;
}

/* .backG {
    height: 100%;
    width: 100%;
    padding: 0px 0px 100% 0px;
    background-image: url('https://media.istockphoto.com/photos/autumn-thanksgiving-background-picture-id508296301');
    background-repeat: no-repeat;
    background-size: cover;
} */