.bg-nav{
    background-image: url("https://66.media.tumblr.com/def5422eb3161606240c97da4cb5339c/tumblr_nvb7v7U9Hh1uadak5o1_500.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.each{
    display: inline-block;
    
}
.margin {
    margin: 0 10px; 
}