.sub:hover {
  background-color: rgb(207, 204, 6);

}

.sub {
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: rgb(255, 115, 0);
  margin: 0px;
}

.over {
  background-color: #f18100;
  width: 100%;
  margin: 0px;
  height: 100%;
}

h2 {
  margin: 0px;
  background-color: #2b0f0f;
  color: #f18100;
  float: left;
}
 
img {
  float: right;
  bottom: 4x;
}

 #theLogo {
   display: inline-block;
   background-color: #2b0f0f;
   width: 100%;
   margin: 0px;
   height: 100%;
 }



.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 7vmin;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}